@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;

}

body {
  background-color: black;
}

a {
  font-weight: 400;
  color: wheat;
  text-decoration: none;

}

.myDiv {
  padding: 20px;
  text-align: center;
}

.child_sec {
  position: absolute;
  top: 100px;
  left: -400px;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  background-image: url(../images/hand_seconds.png);
  background-origin: padding-box;
  background-repeat: no-repeat;
  width: 393px;
  height: 393px;
  z-index: 400;
}

.shadowed {
  -webkit-filter: drop-shadow(-2px 2px 3px #222);
  filter: drop-shadow(-2px 2px 3px #222);
}

.child_sec2 {
  position: absolute;
  top: 25px;
  left: -360px;
  transform-origin: center center;
  background-image: url(../images/hand_seconds2.png);
  background-origin: padding-box;
  background-repeat: no-repeat;
  width: 393px;
  height: 393px;
  z-index: 350;
}

.child_min {
  position: absolute;
  top: 100px;
  left: -400px;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  background-image: url(../images/hand_minutes.png);
  background-origin: padding-box;
  background-repeat: no-repeat;
  width: 393px;
  height: 393px;
  z-index: 390;
}

.child_hour {
  position: absolute;
  top: 100px;
  left: -400px;
  transform-origin: center center;
  background-image: url(../images/hand_hours.png);
  background-origin: padding-box;
  background-repeat: no-repeat;
  width: 393px;
  height: 393px;
  z-index: 380;
}

.banner_background {
  position: relative;
  margin: auto;
  display: block;
  width: 780px;
  height: 200px;
  background-image: url(../images/banner_background.png);
}

.sub {
  padding-top: 2px;
  font-size: 12px;
  font-weight: 400;
}

.timer {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding-top: 3px;
}

#counterContainer {
  position: absolute;
  bottom: 10px;
  right: 90px;
  width: 240px;
  height: 50px;
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;  
  color: white;
}

.days {
  display: inline;
  width: 55px;
  height: 48px;
  position: absolute;
  left: 5px;
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 4px;
}

.hours {
  display: inline;
  width: 55px;
  height: 48px;
  position: absolute;
  left: 65px;
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 4px;
}

.minutes {
  display: inline;
  width: 55px;
  height: 48px;
  position: absolute;
  left: 125px;
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 4px;
}

.seconds {
  display: inline;
  width: 55px;
  height: 48px;
  position: absolute;
  left: 185px;
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 4px;
}
